*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(186, 183, 183);
}

.stopWatch{
  width: 320px;
  height: 200px;
  position: relative;
}

.foreground{
  height: 100px;
  position: absolute;
  left: 72px;
  top: 50px;
  z-index: 3;
  width: 55%;
}

.foreground p{
  text-align: center;
  color: white;
  font-size: 30px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.background{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 1;
  filter: brightness(22%);
}

.background img{
  width: 320px;
  height: 200px;
}

.icons{
  margin-top: 40px;
}

.icons button{
  outline: 0;
  border: 0;
  background: none;
  cursor: pointer;
  margin: 0 5px;
}

.icons img{
  width: 45px;
}